*{
    margin: 0; /* margin da um espaçamento exteno, entre um elemento e outro */
    padding: 0; /* padding da um espaçamento interno, entre as bordas do elemnto */
    border: none;
    outline: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}